@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap");
@import "~mdb-ui-kit/css/mdb.min.css";

@keyframes pular {

    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

:root {
    --cor-de-fundo: #e7e6e6b7;
    --fonte-principal: "Montserrat", sans-serif !important;
    --cor-color-shadow: #000000;
    --cor-drop-shadow: #1f1e1ecb;
    --branco: #ffffff;
    --branco2: #d3d3d3;
    --cinza: #4747474b;
    --cor-azul0: #5356ffa1;
    --cor-azul1: #adcffc;
    --cor-laranja0: #fccb90;
    --cor-laranja1: #ff8b06;
    --cor-laranja2: #ff7300;
    --cor-laranja3: #fc5c00;
    --cor-vermelho0: #ff0000;
    --cor-vermelho1: #a00000;
    --cor-sombra: #3f3f3fbd;
    --cor-borda: #000000;
}

* {
    color: var(--cor-color-shadow) !important;
    padding: 0;
    margin: 0;
}

h1 {
    color: var(--cor-color-shadow) !important;
    font-family: var(--fonte-principal) !important;
}

p {
    font-family: var(--fonte-principal) !important;
    font-size: 16px;
    text-align: center !important;
    color: #000000 !important;
}

p1 {
    font-family: var(--fonte-principal) !important;
    font-size: 16px;
    text-align: center !important;
    color: #000000 !important;
    padding-right: 1rem;
}

body {
    font-family: var(--fonte-principal) !important;
    font-size: 14px !important;
    text-align: left !important;
    background-color: var(--cor-de-fundo) !important;
}

.bg-glass {
    background-color: hsl(0, 0%, 100%) !important;
    backdrop-filter: saturate(200%) blur(25px);
    border-radius: 40px !important;
}

.container {
    margin: 0.75rem auto 0.75rem auto;
    padding-bottom: 10px;
    border-radius: 0.625rem;
    width: 50.2rem;
}

.btn {
    width: 100%;
    box-shadow: 1px 1px 5px var(--cor-sombra) !important;
    white-space: nowrap !important;
    animation: pular 1s;
    text-decoration: none !important;
    color: var(--branco) !important;
    border-radius: 30px !important;
}

.btn-primary {
    background-color: var(--cor-laranja1) !important;
    border-color: var(--cor-laranja2) !important;
    animation: pular 1s;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
    background-color: var(--cor-laranja3) !important;
    color: var(--cor-color-shadow) !important;
    outline: none !important;
}

.cascading-right {
    border-radius: 1.5rem !important;
    border-width: 0 10px 12px 0;
}

.card {
    border-width: 0 10px 12px 0;
    border-style: solid;
    border-color: var(--cor-laranja1);
    box-shadow: 4px 5px 15px var(--cor-sombra);
}

.card-body {
    border-radius: 1.5rem !important;
    border-width: 0 10px 12px 0;
    border-style: solid;
    border-color: var(--cor-laranja1);
    box-shadow: 4px 5px 15px var(--cor-sombra);
}

.form-check-input {
    background-color: var(--cor-laranja1) !important;
    border-color: var(--cor-laranja1) !important;
}

.form-label {
    color: var(--cor-laranja1) !important;
}

.form-check-inline {
    border-color: var(--cor-laranja1) !important;
}

.form-check-input {
    background-color: var(--cor-laranja1) !important;
}

.cascading-right {
    margin-right: -50px;
}

.error-validation {
    color: #ff1a1a;
    position: absolute;
    top: 57px;
    font-size: 12px;
}

.template {
    display: none;
}

.bg-white {
    border-width: 0 10px 12px 0;
    border-radius: 1.5rem !important;
    border-style: solid !important;
    box-shadow: 4px 5px 15px var(--cor-sombra) !important;
}

.navbar {
    margin-top: 1rem !important;
    background-color: var(--branco);
    border-radius: 1.5rem !important;
    border-width: 4px 4px 4px 4px;
    border-style: solid;
    border-color: var(--cor-laranja1);
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.58) !important;
}

.usuario {
    color: var(--cor-laranja1) !important;
}


@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}

